##### Alias #####

# sudo
alias sudo="sudo "

alias ll="exa -lg --icons"
alias llt="ll --tree --level=2"
alias lla="ll -a"
alias llta="llt -a"
alias grep="grep --color"

# temperatures
alias temps="paste <(cat /sys/class/thermal/thermal_zone*/type) <(cat /sys/class/thermal/thermal_zone*/temp) | column -s $'\t' -t | sed 's/\(.\)..$/.\1°C/'"

# ctags
alias ctagsjava="ctags -R --tag-relative=yes --exclude=.git"

# vim
alias vi="nvim -u NONE"
alias vim=nvim

# navigation
alias dotfiles="cd ~/.dotfiles"

# docker
alias docker-stop="docker-list stop"
alias docker-rm="docker-list rm"

# kubernetes
alias k=kubectl

# bazel
alias bz=bazel --action_env=TESTCONTAINERS_RYUK_DISABLED=true

# navigation masmovil
alias k8s-clusters="cd ~/code/masmovil/kubernetes-clusters/"
alias mm="cd ~/code/masmovil/mm-monorepo/"
