[user]
	email = carloscabezascontra@gmail.com
	name = Carlos Cabezas
[alias]
	lod = log --graph --decorate --pretty=format:'%C(bold yellow)%h %C(white)%ad - %s  %Cblue<%an>%Cred%d %Creset' \
		--abbrev-commit --date=format:'%Y.%m.%d %H:%M'
	unstage = reset HEAD --
	st = status
	poh = push origin HEAD
	pom = pull origin master
	com = commit -m
	ch = checkout
	sc = show --name-only
[core]
	excludesfile = /home/charlie/.gitignore_global
