[submodule "vim/pack/theme/start/vim-airline"]
	path = vim/pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/theme/start/vim-airline-themes"]
	path = vim/pack/theme/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/theme/start/vim-devicons"]
	path = vim/pack/theme/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/caconka/start/fzf"]
	path = vim/pack/caconka/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/caconka/start/vim-surround"]
	path = vim/pack/caconka/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/caconka/start/ale"]
	path = vim/pack/caconka/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/caconka/start/editorconfig-vim"]
	path = vim/pack/caconka/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/caconka/start/vim-tmux-focus-events"]
	path = vim/pack/caconka/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "vim/pack/caconka/start/indentLine"]
	path = vim/pack/caconka/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/caconka/start/tabular"]
	path = vim/pack/caconka/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/caconka/start/vim-polyglot"]
	path = vim/pack/caconka/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/theme/start/nord-vim"]
	path = vim/pack/theme/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "vim/pack/caconka/start/vim-go"]
	path = vim/pack/caconka/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/caconka/start/coc"]
	path = vim/pack/caconka/start/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/caconka/start/nerdtree"]
	path = vim/pack/caconka/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/theme/start/oceanic-next"]
	path = vim/pack/theme/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
