[submodule "vim/pack/theme/start/vim-airline"]
	path = vim/pack/theme/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/theme/start/vim-airline-themes"]
	path = vim/pack/theme/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/pack/theme/start/vim-devicons"]
	path = vim/pack/theme/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "vim/pack/caconka/start/fzf"]
	path = vim/pack/caconka/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/pack/caconka/start/vim-surround"]
	path = vim/pack/caconka/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/caconka/start/ale"]
	path = vim/pack/caconka/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/pack/caconka/start/editorconfig-vim"]
	path = vim/pack/caconka/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/pack/caconka/start/vim-tmux-focus-events"]
	path = vim/pack/caconka/start/vim-tmux-focus-events
	url = git@github.com:tmux-plugins/vim-tmux-focus-events.git
[submodule "vim/pack/caconka/start/indentLine"]
	path = vim/pack/caconka/start/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "vim/pack/caconka/start/tabular"]
	path = vim/pack/caconka/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/pack/caconka/start/vim-polyglot"]
	path = vim/pack/caconka/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/pack/theme/start/nord-vim"]
	path = vim/pack/theme/start/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
[submodule "vim/pack/caconka/start/vim-go"]
	path = vim/pack/caconka/start/vim-go
	url = git@github.com:fatih/vim-go.git
