[submodule "vim/pack/theme/start/vim-airline"]
	path = vim/pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/theme/start/vim-airline-themes"]
	path = vim/pack/theme/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/theme/start/vim-devicons"]
	path = vim/pack/theme/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/caconka/start/fzf"]
	path = vim/pack/caconka/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/caconka/start/vim-surround"]
	path = vim/pack/caconka/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/caconka/start/ale"]
	path = vim/pack/caconka/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/caconka/start/tabular"]
	path = vim/pack/caconka/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/caconka/start/vim-polyglot"]
	path = vim/pack/caconka/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/caconka/start/coc"]
	path = vim/pack/caconka/start/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/caconka/start/vim-bbye"]
	path = vim/pack/caconka/start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim/pack/caconka/start/editorconfig-vim"]
	path = vim/pack/caconka/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/caconka/start/goyo"]
	path = vim/pack/caconka/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/pack/caconka/start/vim-commentary"]
	path = vim/pack/caconka/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/theme/start/nord"]
	path = vim/pack/theme/start/nord
	url = https://github.com/arcticicestudio/nord-vim.git
