##### Alias #####

alias ll="ls -l"
alias grep="grep --color"

# ctags
alias ctagsjava="ctags -R --tag-relative=yes --exclude=.git"

# basics
if [[ "$OSTYPE" == "linux-gnu" ]]; then
	alias open="xdg-open"
	alias calc="libreoffice --calc"
	alias writer="libreoffice --writer"
	alias myip="ip addr show | grep 'inet 192' | awk '{ print \$2}'"
fi

# navigation
alias dotfiles="cd ~/.dotfiles"

# Docker
alias docker-stop="docker stop $(docker ps -a -q)"
alias docker-rm="docker rm $(docker ps -a -q)"

# maven
alias mvn-dev="dotenv && mvn clean package && java -jar ./target/*-dependencies.jar"
alias mvn-dev-skip="dotenv && mvn clean package -DskipTests && java -jar ./target/*-dependencies.jar"
alias mvn-debug="dotenv && mvn clean package -DskipTests && java -agentlib:jdwp=transport=dt_socket,address=8080,server=y,suspend=n -jar ./target/*-dependencies.jar"

# bazel
alias bz="dotenv && bazel"

# kubernetes
alias k="kubectl"

# navigation masmovil
alias mas-care="cd $HOME/code/masmovil/mas-stack/pkg/mas-care/"
alias k8s-clusters="cd $HOME/code/masmovil/kubernetes-clusters/"
